

  form {
    margin-top: 80px;
    margin-left: 25%;

  }

  label {
    color: white;
  }
    #zoom:hover {
    transform: scale(1.1, 1.1);
  }



 


.linkVoltar{
text-decoration: none;
font-size: 15px;
color: #fff;
}
.linkVoltar:hover{
  text-decoration: underline;
  color: #fff;
  transition: 0.2s;
}

  .form-row .form-group {
    padding-right: 15px;
    padding-left: 15px;
  }

  .custom-file-input {
    width: 100%;
  }

  select.form-control {
    bottom: auto;
  }


  #custom-alert {
    background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 400px;
  width: 800px;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
}
#custom-alert button {
  display: flex;
  display: inline-block;
  align-items: center;
  background-color: #1D79A1;
  font-size: 20px;
  width: 150px;
  height: 100px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  margin: 5px;
    margin-left: 5px;
  border-radius: 2px;
  padding: 6px;
  transition: 0.2s;
  box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
  font-weight: normal;
  text-align: center;
  margin-left: 35px;
}

#custom-alert button i {
  font-size: 24px; /* Adjust the size of the icon */
  margin-bottom: 5px; /* Adjust the spacing between the icon and text */
}

.divTitleCadastro {
    display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  font-size: 30px;
  font-weight: bold;
  top: 40px;
  transform: translateY(-50%);
  }
  .divButtonsCadastro{
    align-items: center;
    display: flex;
    
    margin-top: 17%;
  }

  #ok-button {

    background-color: #1D79A1;
    font-size: 15px;
    width: 100px;
    height: 50px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    margin-left: 5px;
    border-radius: 2px;
    padding: 6px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
    font-weight: normal;
    text-align: center;

  }

  #ok-button:hover {
    
box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
transition: .2s;

  }
  #ok-button1 {

  
    background-color: #1D79A1;
    font-size: 12px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: #ffffff;
    border: none;
   
    border-radius: 2px;
    padding: 6px;
    transition: .2s;
    box-shadow: 0px 2px 4px rgba(0, 174, 255, 0.3);
    font-weight: normal;
    text-align: center;
  }

  #ok-button1:hover {
   
    box-shadow: 0px 4px 8px rgba(7, 95, 136, 0.3);
    transition: .2s;

  }

  
  
.divItemA {
    margin-top:10px;
    position: fixed;
    margin-left:250px;

  }

  .w3-bar-item{
    color: #fff !important;
    font-weight: 700px;
    background: rgba(255, 255, 255, 0.5) !important;
    padding: 3px;
    border-radius:20px;
    text-align: center;
    font-size: 15px;
     font-weight: bold;
     padding:5px;
      margin-top:5px ;
      justify-content:space-between;
      margin-left:5px;
      margin-top:20px;
      border: 2px #fff solid;
      text-decoration: none;
  }

  .w3-button:hover {
    color: #fff !important;
    font-weight: 700px;
    background: rgba(255, 255, 255, 0.5) !important;
    padding: 3px;
    border-radius:20px;
    text-align: center;
    font-size: 15px;
     font-weight: bold;
     padding:5px;
      margin-top:5px ;
      justify-content:space-between;
      border: 2px #fff solid;
      text-decoration: none;

  }



  #form1 {
    background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
  color: #fff;
  left: 27%;
  top: 45%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  position: fixed;
   
   


  }
  .BuscarDiv{
    margin-top: 10%;
  }
  .divSeparador{
    display: flex;
  }
  .divSeparador2{
    display: flex;
  }
  #form2 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
    color: #fff;
    left: 27%;
    top: 45%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    position: fixed;
   
  }


  #form3 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 550px;
    width: 400px;
    color: #fff;
    left: 27%;
    top: 45%;
    transform: translate(-50%, -50%);
    margin-top: 10px;
    position: fixed;

  }

  #form4 {

    background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 400px;
  color: #fff;
  left: 27%;
  top: 45%;
  transform: translate(-50%, -50%);
  margin-top: 10px;
  position: fixed;
  
   

  }


  .form-content {
    background-color: #000;
    padding: 20px;
    border-radius: 5px;
  }

  #content {
    display: none;
  }

  
  .search-container {
    display: flex;
    align-items: center;
}

.formaticTextRelatorio {
    flex: 1;
}

.search-button {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px; 
    color: #fff;
}
.search-button:hover {
  transition: 0.2s;
  color: rgb(0, 112, 216);
}
  .unicamp {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    height: 400px;
    width: 500px;
    z-index: 2;
  }
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 25%;
    flex-direction: column;
    align-items: center;

}
.button-container1 {
  display: flex;
  justify-content: center;
  margin-top: 42%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.button-container2 {
  display: flex;
  justify-content: center;
  margin-top: 20%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.button-container3 {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}


#myTable{
  background-color: #1D79A1;
  border: #fff 2px solid;
  width: 100%;
}
.button-container button {
margin: 0 5px; 
}

.iconeBuscar{
margin-right: 200px;

}

.button-container button {
margin: 0 5px; 
}

@media (max-width: 600px) {
  #myTable{
   
    width: 90%;
  }
  .table{
    width: 90px;
  }
  #custom-alert{
    width: 80%;
    margin-left: 8%;
    height: 600px;
  }
  .divTitleCadastro{
    font-size: 20px;
    align-items: center;
    text-align: center;
  }
  nav.menu-lateral {
   width: 50px; 
   transition: 0s; 
   }

  ul li.item-menu{
   padding-top: 0px;
}

nav.menu-lateral ul {
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav.menu-lateral ul li.item-menu {
    width: 100%;
}
ul li.item-menu a:hover {
    width: 50px;
    color: rgb(255, 255, 255);
}nav.menu-lateral:hover {
    width: 50px;
    transition: 0s;
  }

  ul li.item-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem; /* Use unidades relativas para o tamanho da fonte */
    padding: 1em 0em; /* Use unidades relativas para o preenchimento interno */
    display: flex;
    line-height: 1.5; /* Ajuste o espaçamento vertical conforme necessário */
    transition: 0.2s;
    margin-bottom: 1em; /* Use margin-bottom para espaçamento externo responsivo */
  }
 

  #custom-alert {
    
    width: 80%;

    height: 400px;
  }
  #custom-alert button{
    margin-left:5px;
    width: 120px;
  }
  
  .divTitleCadastro {
    font-size: 20px;
    align-items: center;
    text-align: center;
  }

 
  .divButtonsCadastro {
    margin-top: 30%; 
    flex-direction: column;
  }
  #form1{
        
    width: 80%;
    left: 33%;
    height: 500px;
    margin-top: 0px;
  
}
#form2{
        
  width: 80%;
  left: 33%;
  height: 500px;
  margin-top: 0;

}
#form3{
        
  width: 80%;
  left: 33%;
  height: 500px;
  margin-top: 0;


}
#form4{
        
  width: 80%;
  left: 33%;
  height: 500px;
  margin-top: 0;


}
.button-container{
  margin-top: 21%;
}
.button-container1 {
  
  margin-top: 55%;}
  .button-container2 {
   
    margin-top: 25%;}
    .button-container3 {
   
      margin-top: 10%;}
   
}
@media (max-width: 900px){
 
  
  #custom-alert{
    width: 80%;
    margin-left: 8%;
    height: 600px;
  }
  .divTitleCadastro{
    font-size: 20px;
    align-items: center;
    text-align: center;
  }
  nav.menu-lateral {
   width: 50px; 
   transition: 0s; 
   }

  ul li.item-menu{
   padding-top: 0px;
}

nav.menu-lateral ul {
    padding: 0;
    display: flex;
    flex-direction: column;

}

nav.menu-lateral ul li.item-menu {
    width: 100%;
}
ul li.item-menu a:hover {
    width: 50px;
    color: rgb(255, 255, 255);
}nav.menu-lateral:hover {
    width: 50px;
    transition: 0s;
  }

  ul li.item-menu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1rem; /* Use unidades relativas para o tamanho da fonte */
    padding: 1em 0em; /* Use unidades relativas para o preenchimento interno */
    display: flex;
    line-height: 1.5; /* Ajuste o espaçamento vertical conforme necessário */
    transition: 0.2s;
    margin-bottom: 1em; /* Use margin-bottom para espaçamento externo responsivo */
  }
  .divButtonsCadastro {
    flex-direction: column;
  }

  #custom-alert {
    
    width: 80%;

    height: 400px;
  }
  #custom-alert button{
    margin-left:5px;
    width: 120px;
  }
  
  .divTitleCadastro {
    font-size: 20px;
    align-items: center;
    text-align: center;
  }

}